services:
  postgres:
    container_name: postgres
    image: postgres:18
    restart: always
    ports:
      - 5455:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
